:root {
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;
    --accent-color: #ecf0f1;
    --background-color: #dfe6e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--background-color);
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: min(900px, 100%);
    height: calc(100% - 80px);
    background-color: var(--accent-color);
    border-radius: 8px;
    box-shadow: 0 10px 40px rbga(0, 0, 0, 0.1);
    z-index: -1;
}

body > * {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

h2 {
    color: var(--secondary-color);
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
}

h3 {
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

h5 {
    color: var(--secondary-color);
    font-weight: normal;
    margin-bottom: 15px;
    padding: 10px;
}

p {
    margin-bottom: 20px;
    max-width: 800px;
}

button,
input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input {
    color: var(--secondary-color);
    border: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.pdfContainer {
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    height: 600px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.pdfContainer iframe {
    width: 100%;
    height: 100%;
    border: none;
}
